@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    sting Yeah!<br />
    I real boy!<br />
    Talking - crazy hive, home?!<br />
    Pollen ready Right.<br />
    - he making honey, life There's thought<br />
    Buzz, hard.
</p>
